input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity {
    position: relative;
    display: inline-block;
    color: #7f7f7f;
}
.quantity input[type="number"] {
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    box-shadow: none;
    outline: none;
    width: 42px;
    height: 34px;
    text-align: center;
    float: right;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    color: #342f2f;
}
.quantity input[type="number"]:focus {
    border-color: #57b8f6 !important;
}
.quantity input[type="number"]:hover {
    border-color: #a5a5a5;
}
.quantity-button {
    width: 39px;
    height: 34px;
    display: inline-block;
    float: right;
    position: relative;
    cursor: pointer;
}
.quantity-button::before, .quantity-button::after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 7px);
    content: '';
    width: 14px;
    height: 2px;
    background-color: currentColor;
    display: block;
}
.quantity-remove::after {
    display: none;
}
.quantity-add::after {
    transform: rotate(90deg);
}


summary{
    margin-top:150px; 
    width: 50px;
    color: #af7b7b00;
}
details{
width: 50px;
height: 50px;
    visibility:inherit;
    position: absolute;
}
.card{
    color: #000;
}


.carrito>p{
    position: fixed;
    width: 50px;
    height: 50px;
    background-image: url("../img/carrito.png");
    background-size: 50px;
}

     
  
    