.header {
    text-align: center;
}

section {
    text-align: center;
}

.img-card {
    width: 100%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-top: 1rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}





/* Dispositivos pequeños (teléfonos, 600px y menos) */
@media only screen and (max-width: 600px) {}

/* Dispositivos medios (tablets horizontales, 768px y más) */
@media only screen and (min-width: 768px) {}

/* Dispositivos extra largos (grandes laptops and equipos
escritorio, 1200px y arriba) */
@media only screen and (min-width: 1200px) {
    .card {
        margin-top: 1rem;
    }

    .FlexContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        overflow: auto;
        flex-direction: row;
    }

    .FlexContainer div {
        width: 300px;
        height: 400px;
        margin: 5px;
    }
}