    @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

    .navbar {
        padding-left: 1rem;
    }

    img.index {
        opacity: 90%;
    }

    .fs-4 {
        font-family: 'Tilt Prism', cursive;
    }

    h1 {
        font-family: 'Tilt Prism', cursive;

    }

    p {
        font-family: 'Nanum Gothic', sans-serif;
    }

    h2 {
        font-family: 'Dosis', sans-serif;
    }

    li {
        font-family: 'Dosis', sans-serif;
    }