

html {
    background-color: rgb(163, 196, 209);
    margin-left: 3vw;
    margin-right: 3vw;
}
header      {
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #333;
    height: 230px;
    display:flex;
    justify-content: center;

}


@media only screen and (max-width: 768px) {


* {
    box-sizing: border-box;
    }
    .col-1 {width: 8.3%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    [class*="col-"] {
    float: left;
    
    }
    .row::after {
    content: "";
    clear: both;
    display: table;
    }

h1   {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size:  480%    ;
        color: firebrick;
        display: flexbox; justify-content: center; 
        
}

#sub { font-family: Arial, Helvetica, sans-serif;
    color: darkgreen; font-size: larger; 
    padding-left: 10px; 
}

#fenix1 {
    float: left; padding-top: 20%;
    justify-content: center;
}

#reseña {
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
    
    padding-top: 40px;
    
}

#equipo {
    display: flex; 
    justify-content: center;}
} 

@media only screen and (min-width: 768px) {
    * {
        box-sizing: border-box;
        }
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 20%;}
        .col-4 {width: 55%;}
        .col-5 {width: 40%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
        [class*="col-"] {
        float: left;
        
        }
        .row::after {
        content: "";
        clear: both;
        display: table;
        }
    
    h1   {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size:  480%    ;
            color: firebrick;
            display: flexbox; justify-content: center; 
            
    }
    
    #sub { font-family: Arial, Helvetica, sans-serif;
        color: darkgreen; font-size: larger; 
        padding-left: 10px; 
    }
    
    #fenix1 {
        float: left; padding-top: 20%;
        justify-content: center;
    }
    
    #reseña {
        
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        
        
        padding-top: 40px;
        
    }
    
    #equipo {
        display: flex; 
        justify-content: center;}
    } 
    #horario { 
        display: flex; 
        justify-content: center;
        padding-left: 20px;
    }
}